Repository CircleCI-Public/llm-eval-examples: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-braintrust-evals, run-langsmith-evals

use latest orb version
  .circleci/config.yml
  .circleci/run_evals_config.yml
Due: none

fix config
  .circleci/run_evals_config.yml
Due: none

fix config
  .circleci/config.yml
Due: none

put back testing changes
  .circleci/config.yml
Due: none

one more trial
  .circleci/config.yml
  .circleci/run_evals_config.yml
Due: none

two more trial
  .circleci/config.yml
Due: none

dummy commit
  braintrust/README.md
Due: run-braintrust-evals

dummy commit
  langsmith/README.md
Due: run-langsmith-evals

remove dummy commit
  braintrust/README.md
  langsmith/README.md
Due: run-braintrust-evals, run-langsmith-evals

notify slack
  .circleci/run_evals_config.yml
Due: none

Update braintrust/README.md
  braintrust/README.md
Due: run-braintrust-evals

add slack notifications context
  .circleci/run_evals_config.yml
Due: none

working version
  .circleci/run_evals_config.yml
  README.md
Due: none

run evals with custom command
  .circleci/config.yml
  .circleci/run_evals_config.yml
  README.md
  custom-command/conftest.py
  custom-command/requirements.txt
  custom-command/tests/e2e/test_amnesty_e2e.py
Due: none

fix
  .circleci/run_evals_config.yml
Due: none

changes to readme
  .circleci/config.yml
  .circleci/run_evals_config.yml
  README.md
Due: none

change readme according to suggestion
  README.md
Due: none

use shell in custom command
  .circleci/run_evals_config.yml
  README.md
Due: none

prep work for evals orb
  README.md
Due: none

docs: pin docs to version 1 orb
  README.md
Due: none

Path conditions:
  run-braintrust-evals: any of: braintrust/.*
  run-langsmith-evals: any of: langsmith/.*
